keras==2.11.0
passlib==1.7.4
Pillow==9.3.0
pipreqs==0.4.11
pymongo==4.3.3
streamlit==1.20.0
streamlit-authenticator==0.2.1
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-cookies-manager==0.2.0
streamlit-embedcode==0.1.2
streamlit-extras==0.2.6
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-login-auth-ui==0.2.0
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
streamlit-theme==0.58.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
